*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
watermelon
/.idea/kotlinc.xml
/Video/Android Developement_ Codepath/Project_hello_squirrel_screenshor.png
